@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    

        <h1>Tracking Frutadeli</h1>




    @*<img src="~/Content/Imagenes/FondoPantalla.jpg" width="1100" height="450" />*@


</div>
